<!DOCTYPE html>
<html lang="en">

  <head>
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" routerLink="/Principal">Sala de Juegos</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/QuienSoy#quien">Quien Soy</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/QuienSoy#que">De que se trata el juego</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/QuienSoy#acerca">Acerca de</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center" id="quien">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="../../assets/img/me.jpg" alt="">
        <h3 class="text-uppercase mb-0">Cristian Witt</h3>
        <hr class="star-light">
        <h4 class="font-weight-light mb-0">Alumno UTN FRA - Tecnicatura en Programación - 4B - Turno noche</h4>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="que">
      <div class="container">
        <br>
        <h2 class="text-center text-uppercase text-secondary mb-0">Juego Memotest</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <a class="portfolio-item d-block mx-auto" routerLink="/Juegos/Memotest">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="assets/img/memotest-2.png" alt="">
            </a>
          </div>
          <div class="col-md-6 col-lg-5">
              <p class="lead">
                  El Memotest es un juego que no sólo permite desarrollar su memoria, orientarse en el espacio, el reconocimiento visual, entre otros, sino que además facilita la incorporación de conocimientos y saberes de la cultura general de manera lúdica.
                  Las reglas son sencillas: consiste en una grilla o cuadrícula de tamaño variable, en la cual se esconden pares de objetos: en nuestro caso son letras. El jugador deben ir descubriendo las celdas de a una e ir recordando dónde está cada pieza del par, para así reunirlos y hacerlo en el menor tiempo posible. El objetivo es lograr reunir todos de pares. El jugador que termina antes es el ganador. Concluye cuando todos los pares de la grilla son formados.
                  ¡A ejercitar las neuronas!.</p>
            </div>
        </div>
        </div>  
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="acerca">
      <div class="container">
        <br>
        <h3 class="text-center text-uppercase text-white">Modificado por</h3>
        <hr class="star-light mb-5">
        <h4 class="text-center text-uppercase text-white"> 
          <p class="text-center text-uppercase text-white"> 
            <a class="text-center text-uppercase text-white" href="https://github.com/ccwittv">https://github.com/ccwittv </a>
          </p>
        </h4>
      </div>
    </section>

      <!-- Third Container (Grid) -->
  <!--div id ="donde" class="container-fluid bg-3 text-center">    
      <h3 class="margin">Dónde Funciona?</h3><br>
      <div class="row">
        <div class="col-sm-4">
          <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
          <img src="/assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy"  alt="Image">
        </div>
        <div class="col-sm-4"> 
          <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
          <img src="/assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4"> 
          <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
          <img src="/assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
      </div>
    </div-->
    
    <!-- Footer -->
    <!--footer class="container-fluid bg-4 text-center">
      <p>Modificado por <a href="https://www.octavio.com.ar">www.octavio.com.ar</a></p> 
    </footer-->

  </body>

</html>
