<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
  <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
      <i class="fa fa-times"></i>
    </a>
    <li class="sidebar-brand">
      <a class="js-scroll-trigger" *ngIf = "hayAlguienLogueado">{{usuarioLogueado}}</a>
      <a class="js-scroll-trigger" *ngIf = "!hayAlguienLogueado">Sala de juegos</a>
    </li>
    <li>
      <a class="js-scroll-trigger" routerLink="/Principal">Home</a>
    </li>
    <li>
      <a class="js-scroll-trigger" routerLink="/Juegos">Menú de Juegos</a>
    </li>
    <li>
      <a class="js-scroll-trigger" (click)="Juego('Agilidad')">Agilidad</a>
    </li>    
    <!--li>
      <a class="js-scroll-trigger" (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a>
    </li-->
    <li>
      <!--a class="js-scroll-trigger" href="#services">Services</a-->
      <a class="js-scroll-trigger" data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a>
    </li>    
    <!--li>
      <a class="js-scroll-trigger" (click)="Juego('AdivinaMasListado')">Adivina+listado</a>
    </li-->
    <li>
      <a class="js-scroll-trigger"  (click)="Juego('PiedraPapelTijera')">Piedra, Papel o Tijera</a>
    </li>        
    <li>
      <a class="js-scroll-trigger"  (click)="Juego('Anagrama')">Anagrama</a>
    </li>
    <li>
      <a class="js-scroll-trigger"  (click)="Juego('Memotest')">Memotest</a>
    </li>      
    <li>
      <a class="js-scroll-trigger"  routerLink="/Listado">Listados</a>
    </li>           
    <li>
      <a routerLink="#">Registrarse <span class="fa fa-user fa-fw"></span></a>
    </li>
    <li>
      <a routerLink="/Login" *ngIf = "!hayAlguienLogueado">Ingresar <span class="fa fa-sign-in"></span></a>
      <a routerLink="/Login" *ngIf = "hayAlguienLogueado">Salir <span class="fa fa-sign-out"></span></a>
    </li>

  </ul>
</nav>

  <!--nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
                                  
          </button>
          <a class="navbar-brand" routerLink="/Principal">Inicio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/Juegos">Menú de Juegos</a></li>
                <li><a data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a></li>
                <li><a  (click)="Juego('Agilidad')">Agilidad</a></li>
                <li><a  (click)="Juego('AdivinaMasListado')">Adivina+listado</a></li>
                <li><a  (click)="Juego('AgilidadaMasListado')">Agilidad+listado</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
                  <li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                </ul>
        </div>
      </div>
    </nav-->
      
   