
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    

  </head>

  <body>

    <app-side-menu></app-side-menu>    

    <!-- Header -->
    <header class="header" id="top">      
      <div class="text-vertical-center">        
        <h1>Sala de Juegos</h1>        
        <h3>Bienvenido</h3>
        <br>
        <a href="/Principal#about" class="btn btn-dark btn-lg js-scroll-trigger">Acerca de la página</a>
      </div>
    </header>    

  <!-- Juegos -->
  <aside class="callout" id="contenidos" >
        <div class="text-vertical-center">
          <h1>Contenidos</h1>
                <hr class="small">
                <div class="row">
                  <div class="col-md-6">
                    <div class="portfolio-item">
                      <a routerLink="/Juegos">
                        <img class="img-portfolio img-fluid" src="../../../assets/img/puzzle-1.jpg">                        
                      </a>
                      <h4 class="media-heading">Juegos</h4>
                      <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="portfolio-item">
                        <a routerLink="/Listado">
                          <img class="img-portfolio img-fluid" src="../../../assets/img/listados-1.png">                        
                        </a>
                        <h4 class="media-heading">Listados de resultados</h4>
                        <p>Los listados de los resultados con ordenamiento y busqueda</p>
                      </div>
                    </div>
                </div>            
        </div>        
  </aside>

  <!-- About -->    
  <section id="about" class="about">              
      <div class="container text-center">
          <app-cabecera>  </app-cabecera>        
      </div>
      <!-- /.container -->
  </section>

</body>

</html>