<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    

<!-- Bootstrap core CSS -->
    <!--link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"-->  
<!-- Bootstrap core JavaScript -->
     <script src="./vendor/jquery/jquery.min.js"></script>
     <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>  

  </head>

  <body>
<!-- Page Content -->
<div class="container">
              
          <div class="row">
            <div class="col-lg-12" style="text-align:center">
              <h1 class="my-4">NUESTROS JUEGOS</h1>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">                              
              <img class="rounded-circle img-fluid d-block mx-auto" src="../assets/img/agilidad-1.png" alt="Avatar">
              <h3> Velocidad y agilidad aritmética</h3>
              <h4>Juego de agilidad mental</h4>              
              <button type="button" class="btn btn-success btn-lg" (click)="Juego('Agilidad')">Jugar !!!</button>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="../assets/img/Piedra_papel_tijeras-2.png" alt="Avatar">
              <h3> Piedra, Papel o Tijera</h3>
              <h4>Juega contra la máquina</h4>              
              <button type="button" class="btn btn-success btn-lg" (click)="Juego('PPT')">Jugar !!!</button>
            </div>
            
            <div class="col-lg-4 col-sm-6 text-center mb-4">
                <img class="rounded-circle img-fluid d-block mx-auto" src="../assets/img/adivina-1.jpg" alt="Avatar">
                <h3> Adivina el número secreto</h3>
                <h4>Juego de estrategia</h4>              
                <button type="button" class="btn btn-success btn-lg" (click)="Juego('Adivina')">Jugar !!!</button>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center mb-4">
              <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
              <h3>John Smith
                <small>Job Title</small>
              </h3>
              <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
            </div>
          </div>
    
        </div>
        <!-- /.container -->        
    
      </body>
    
    </html>
    

<!--div class="container" >
    <div class="card">
      <img class="img-thumbnail"   src="../assets/imagenes/cerebro.jpg" alt="Avatar" style="width:100%">
      <h1>Velocidad y agilidad aritmética </h1>
      <p class="title">Juego de agilidad mental</p>
      <p>UTN FRA </p>
  
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Agilidad')">Jugar</button></p>
    
    </div>
  
    <div class="card">
      <img class="img-thumbnail" src="../assets/imagenes/ppt.jpg" alt="Avatar" style="width:100%">
      <h1>Piedra Papel o Tijera</h1>
      <p class="title">Juega contra la máquina</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('PPT')">Jugar</button></p>
    </div>
    <div class="card">
      <img  class="img-thumbnail"  src="../assets/imagenes/adivina.png" alt="Avatar" style="width:100%">
      <h1>Adivina el número secreto</h1>
      <p class="title">Juega de estrategia</p>
      <p>UTN FRA </p>
      
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a> 
      <a href="#"><i class="fa fa-linkedin"></i></a> 
      <a href="#"><i class="fa fa-facebook"></i></a> 
      <p>           <button class="button"  (click)="Juego('Adivina')">Jugar</button></p>
    </div>
  </div-->