<!DOCTYPE html>
<html lang="en">

  <head>    

  </head>

    <body>
        
       <div class="CajaUno animated bounceInLeft">
          <form name="juego">
              <div style="text-align:center">
                <h2>
                   <b>{{nuevoJuego.nombre}}!</b>
                </h2>
              </div>
            <br>
            <!--div id="memory_board"></div-->
            <div id="memory_board">
                <div id="tile_0" (click)="memoryFlipTile('tile_0',azulejo[0])"></div>
                <div id="tile_1" (click)="memoryFlipTile('tile_1',azulejo[1])"></div>
                <div id="tile_2" (click)="memoryFlipTile('tile_2',azulejo[2])"></div>
                <div id="tile_3" (click)="memoryFlipTile('tile_3',azulejo[3])"></div>
                <div id="tile_4" (click)="memoryFlipTile('tile_4',azulejo[4])"></div>
                <div id="tile_5" (click)="memoryFlipTile('tile_5',azulejo[5])"></div>
                <div id="tile_6" (click)="memoryFlipTile('tile_6',azulejo[6])"></div>
                <div id="tile_7" (click)="memoryFlipTile('tile_7',azulejo[7])"></div>
                <div id="tile_8" (click)="memoryFlipTile('tile_8',azulejo[8])"></div>
                <div id="tile_9" (click)="memoryFlipTile('tile_9',azulejo[9])"></div>
                <div id="tile_10" (click)="memoryFlipTile('tile_10',azulejo[10])"></div>
                <div id="tile_11" (click)="memoryFlipTile('tile_11',azulejo[11])"></div>    
            </div>
            <div class="container">
                <a class="btn btn-primary animated bounceInLeft" href="/Juegos/Memotest"> <span class="glyphicon glyphicon-th">&nbsp;</span>Nuevo Tablero</a>
            </div>
      </form>  
      </div>  

  <div class="container">
    <div id="snackbar">{{Mensajes}}</div>
  </div> 

</body>
</html>
          
    
