<!DOCTYPE html>
<html lang="en">

  <head>    

  </head>

    <body>
        
       <div class="CajaUno animated bounceInLeft">
          <form name="juego">            
            <div style="text-align:center">
               <h1>
                  {{nuevoJuego.nombre}}!
               </h1>
            </div>
            <br>
            <h4><label>{{mensajeCantidadGanadas}}</label></h4>
            <h4><label>{{mensajeCantidadPerdidas}}</label></h4>
            <h4><label>{{mensajeCantidadEmpatadas}}</label></h4>            
            <br>
            <button  class="btn btn-success btn-lg" (click)="jugar('piedra')">  
            <img class="PiedraPapelTijera animated zoomInRight " src="../../assets/img/piedra.jpg" style="width:75px;height:75px;">            
            </button>
            <button class="btn btn-primary btn-lg" (click)="jugar('papel')">
            <img class="PiedraPapelTijera animated zoomInUp" src="../../assets/img/papel.jpg" style="width:75px;height:75px;">
            </button>
            <button class="btn btn-info btn-lg" (click)="jugar('tijera')">
            <img class="PiedraPapelTijera animated zoomInLeft"  src="../../assets/img/tijera.jpg" style="width:75px;height:75px;">	
            </button>
            <br/>
            <!--h3><label>Ingrese número:  </label></h3>
            <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:100%"/>
          
            <h2 [hidden]="ocultarVerificar"><button  *ngIf="nuevoJuego.numeroSecreto!=0" (click)="verificar()" class="btn btn-success btn-lg">Verificar</button></h2>
            <h2><button *ngIf="nuevoJuego.numeroSecreto==0 " (click)="generarnumero()"  class="btn btn-info btn-lg">Nuevo número secreto</button></h2-->
                  
            <!--h4><p *ngIf="nuevoJuego.numeroSecreto!=0" ><i class="fa fa-spinner fa-spin"></i> Haz tu jugada, humano.</p></h4-->
            <h4 [hidden]="ocultarJuegaHumano" ><i class="fa fa-spinner fa-spin"></i> Haz tu jugada, humano.</h4>
            <!--h4 [hidden]="!nuevoJuego.resultado">Usted adivinó el número</h4>
            <h4 [hidden]="nuevoJuego.resultado">Usted aún no ganó </h4-->	
          </form>
        </div>            
        <!--div style="text-align:center"-->
        <div class="container">
          <div id="snackbar">{{Mensajes}}</div>
        </div> 

  </body>
</html>
